<div class="content-view" ng-controller="CreditCardsController as creditCards">
  <h1>Order - Payment</h1>
  <h2>{{ order.data.order._id }}</h2>
  <div class="wizard">
    <hr>
    <div class="icon-wrapper col col-xs-4">
      <div class="icon">
        <span class="glyphicon glyphicon-shopping-cart"></span>
      </div>
    </div>
    <div class="icon-wrapper col col-xs-4">
      <div class="icon">
        <span class="glyphicon glyphicon-send"></span>
      </div>
    </div>
    <div class="icon-wrapper col col-xs-4">
      <div class="icon active">
        <span class="glyphicon glyphicon-euro"></span>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <input type="radio" name="type" ng-model="order.data.order.payment.type" value="bill" ng-change="order.changePayment()"><h3 class="panel-title">Bill</h3>
    </div>
    <div class="panel-heading">
      <input type="radio" name="type" ng-model="order.data.order.payment.type" value="creditCard"><h3 class="panel-title">Credit card</h3>
    </div>
    <div class="panel-body" ng-if="order.data.order.payment.type === 'creditCard'">
      <table class="checkout-table">
        <thead>
        <th></th>
        <th>Credit card</th>
        </thead>
        <tbody ng-repeat="creditCard in creditCards.data.creditCards">
        <td>
          <input type="radio" name="creditCard" ng-model="order.data.order.payment.creditCard" ng-value="creditCard">
        </td>
        <td>
          <p><label>Number:</label>{{ creditCard.number }}</p>
          <p><label>Type:</label>{{ creditCard.type }}</p>
        </td>
        </tbody>
      </table>
    </div>
  </div>

  <a type="button" class="btn btn-outline-primary back" href="#!/checkout/address">
    <span class="glyphicon glyphicon glyphicon-backward" aria-hidden="true"></span> Back
  </a>
  <button type="button" class="btn btn-outline-primary next" ng-click="order.save()" ng-disabled="order.data.order.items.length === 0 || !order.data.order.deliveryAddress || (!order.data.order.payment.creditCard && !order.data.order.payment.type === 'bill')">
    <span class="glyphicon glyphicon glyphicon-forward" aria-hidden="true"></span> Finish
  </button>
</div>
