<div class="container" ng-controller="CommunityController as community">
  <form class="post-form" ng-submit="community.insert()">
    <h1>Add a Post</h1>
    <div class="form-group">
      <input class="form-control" type="text" ng-model="community.data.post.title" name="title" placeholder="Title" required />
    </div>
    <div class="form-group">
      <textarea class="form-control" type="text" ng-model="community.data.post.text" name="text" placeholder="Text" required></textarea>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ community.data.progress }}"
           aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width' : community.data.progress }">
        <span class="sr-only">{{ community.data.progress }} &</span>
      </div>
    </div>
    <div class="form-group">
      <div class="btn btn-outline-primary" ngf-select ng-model="community.data.postImage" name="postImage" ngf-pattern="'image/*'"
           ngf-accept="'image/*'" ngf-max-size="20MB" required>
        <span class="glyphicon glyphicon glyphicon-picture" aria-hidden="true"></span> Select a picture
      </div>
    </div>

    <img class="thumbnail" ngf-src="community.data.postImage">

    <div class="form-group">
      <button class="btn btn-outline-primary">
        <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save
      </button>
    </div>
  </form>
</div>