<div class="sidebar-topRatedProduct">
  <h3>Top rated product</h3>
  <div class="topRatedProduct-wrapper" ng-repeat="topRatedProduct in shop.data.topRatedProducts | toArray: false | orderBy: '-rating.value' | limitTo: 1">
  <h4>{{ topRatedProduct.name }} - {{ topRatedProduct.category.name }}</h4>
    <div class="image-wrapper">
      <img ng-src="http://localhost:3000/product-images/{{ topRatedProduct.image }}">
    </div>
    <div class="rating-average-wrapper">
      <span class="rating-average">&empty; {{ topRatedProduct.rating.value }}</span>
      <jk-rating-stars max-rating="5" rating="topRatedProduct.rating.value" read-only="true"></jk-rating-stars>
    </div>
    <div class="rating-wrapper" ng-repeat="topRatedProductRating in topRatedProduct.ratings | toArray: false | orderBy: '-createdAt' | limitTo: 1">
      <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
      <!-- Injection Code Start - XSS -->
      <div ng-bind-html="topRatedProductRating.comment | trustAsHTML"></div>
      <!-- Injection Code End -->
      <span class="rating-date">{{ topRatedProductRating.createdAt | date : 'dd.MM.yyyy HH:mm:ss' : '+0100' }}</span>
    </div>
  </div>
</div>