* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Regular.ttf') format('ttf');
}

html, body {
  width: 100%;
  height:100%;
  font-size: 0;
  font-family: 'Roboto', sans-serif;
}

table {
  max-width: 100%;
  width: 100%;
  margin-bottom: 25px;
}

table tfoot td:first-child {
  font-weight: bold;
}

ul > ul {
  padding: 0 0 0 15px;;
  margin: 0;
}

ul li {
  list-style: outside none;
}

a:hover {
  opacity: 0.8;
}

.col {
  font-size: 15px;
}

.row {
  margin: 0;
}

.btn-outline-primary {
  background-color: lightgray;
  color: black;
}

.btn-outline-primary:hover {
  opacity: 0.8;
}

.container {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.navbar {
  display: inline-block;
  width: 100%;
  background-color: #4d91ff;
  color: white;
  margin: 0;
}

.navbar .logo-item {
  padding-top: 15px;
  font-size: 40px;
}

.navbar-navigation ul {
  margin: 0;
  padding: 15px 0 15px 0;
}

.navbar-navigation .navigation-item {
  display: inline-block;
  border-right: solid 1px white;
}

.navbar-navigation .navigation-item:first-child {
  border-left: solid 1px white;
}

.navbar-navigation .navigation-item a {
  display: inline-block;
  color: white;
  padding: 10px 7px 10px 5px;
  text-decoration: none;
}

.navbar-menu {
  display: inline-block;
  float: right;
  height: 100%;
  padding: 15px;
}

.navbar-menu .menu-item-username {
  display: inline-block;
  word-break: break-all;
}

.navbar-menu .menu-item {
  display: inline-block;
  font-size: 25px;
  padding: 0 0 0 25px;
}

.content {
  display: inline-block;
  width: 100%;
  background: #F0F0F0;
  min-height: 100%;
}

.content-content {
  background: white;
  padding-bottom: 15px;
}

.content-view {
  padding: 15px 0 15px 0;
}

.content-view table {
  width: 100%;
  margin: 15px 0 15px 0;
  border: none;
}

.content-view table thead {
  border-bottom: solid 1px grey;
}

.content-view table td,
.content-view table th {
  padding: 5px;
}

.content-view table td {
  border-bottom: solid 1px grey;
}

.content-view table td:last-child {
  width: 100px;
}

table td:last-child button,
table td:last-child a {
  display: inline-block;
  width: 100%;
  margin: 5px 0 5px 0;
}

table td p label {
  width: 25%;
}

table tr td li {
  padding: 5px 0 0 25px;
}

.sidebar-left {
  padding: 15px 0 15px 0;
}

.sidebar-right {
  padding: 0;
}

.sidebar-right > div > div {
  padding: 15px;
}

.sidebar-right .topRatedProduct-wrapper {
  padding: 15px;
  border: solid 1px lightgrey;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
}

.sidebar-right .sidebar-topRatedProduct .image-wrapper {
  display: inline-block;
  width: 100%;
  background-color: white;
}

.sidebar-right .sidebar-topRatedProduct img {
  position: relative;
  margin-left: 25%;
  margin-right: 25%;
  max-width: 50%;
}

.sidebar-right .sidebar-topRatedProduct .rating-average-wrapper {
  padding: 10px 15px 10px 0;
  text-align: right;
}

.sidebar-right .sidebar-topRatedProduct .rating-wrapper {
  padding: 15px;
  background-color: #4d91ff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: white;
}

.sidebar-right .sidebar-topRatedProduct .rating-wrapper .glyphicon {
  font-size: 25px;
  color: black;
}

.sidebar-right .sidebar-topRatedProduct .rating-wrapper p {
  padding-left: 15px;
}

.sidebar-right .sidebar-topRatedProduct .rating-wrapper .rating-date {
  display: inline-block;
  font-size: 12px;
  width: 100%;
  text-align: right;
}

.sidebar-left h1,
.sidebar-left h2,
.sidebar-left h3,
.sidebar-right h1,
.sidebar-right h2,
.sidebar-right h3 {
  color: #ada4a9;
}

.sidebar-left h3 {
  margin-left: 15px;
}

.sidebar-menu .categories,
.sidebar-menu .search-values {
  padding: 0;
}

.sidebar-menu .sidebar-item {
  list-style: none;
  width: 100%;
  height: 31px;
  padding-bottom: 10px;
}

.sidebar-menu .sidebar-item a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 25px 5px 25px;
  width: 100%;
}

.sidebar-menu .sidebar-item.selected {
  background-color: #4d91ff;
}

.sidebar-menu .sidebar-item.selected a {
  color: white;
}

.product-search {
  padding: 15px 0 0 0;
}

.auth-menu, .cart-menu {
  display: none;
  padding: 15px;
  color: #e1e1e1;
  background-color: #4753e9;
  border-top: solid 2px #e0d7dc;
  border-bottom: solid 2px #e0d7dc;
  font-size: 13px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.auth-menu .btn-outline-primary,
.cart-menu .btn-outline-primary {
  background-color: transparent;
  color: white;
  border: solid 1px white;
}

.auth-menu ul {
  padding: 0;
}

.auth-menu ul ul {
  margin: 0 0 5px 15px;
  padding: 0 0 0 15px;
}

.auth-menu ul ul > li {
  list-style-type: disc;
}

.auth-menu a {
  color: inherit;
  text-decoration: none;
}

.cart-menu table thead {
  border-bottom: solid 1px white;
}

.cart-menu table th,
.cart-menu table td {
  padding: 5px;
}

.checkOut-overview table tfoot {
  border-bottom: double black;
}

.cart-menu table tfoot {
  border-top: solid 1px white;
  border-bottom: double white;
}

.wide {
  width: 100%;
}

.small {
  width: 50%;
}

.products:first-child {
  border-top: 1px solid grey;
}

.products {
  border-bottom: 1px solid grey;
}

.product {
  display: inline-block;
  padding: 15px;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
}

.product-name {
  font-weight: bold;
  font-size: 20px;
}

.product-category {
  font-weight: bold;
}

.product-price {
  color: red;
  font-weight: bold;
}

.product-rating {
  text-align: right;
  width: 100%;
}

.rating-average {
  font-weight: bold;
  padding: 2px 15px 2px 0;
}

.product-menu {
  padding: 90px 0 0 50px;
  text-align: right;
}

.product-menu > span {
  margin-left: 15px;
}

.shop-form-rating {
  display: none;
  padding: 15px;
  border-bottom: 1px solid grey;
  background-color: #4d91ff;
  margin-bottom: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.jk-rating-stars-container {
  display: inline-block;
}

.jk-rating-stars-container .button .material-icons {
  color: white;
}

.material-icons {
  font-size: 17px !important;
}

.glyphicon, .material-icons, a {
  cursor: pointer;
}

.wizard {
  display: inline-block;
  width: 100%;
}

.wizard .col {
  position: relative;
  display: inline-block;
  padding: 0;
}

.wizard hr {
  position: relative;
  display: inline-block;
  width: 100%;
  top: 12px;
  border-top: 3px solid grey;
  padding: 0;
  margin: 0;
}

.wizard .icon-wrapper {
  text-align: center;
  margin-top: -22px;
}

.wizard .icon {
  margin: auto;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  z-index: 100;
  background-color: lightgray;
}

.wizard .icon.active {
  background-color: #4d91ff;
}

.wizard .icon .glyphicon {
  font-size: 26px;
  margin-top: 12px;
  margin-left: -6px;
  color: black;
}

.wizard > div:nth-child(2) > div > .glyphicon {
  margin-left: 0;
}

.wizard .icon.active .glyphicon {
  color: white;
}

.btn.back {
  float: left;
}

.btn.next {
  float: right;
}

.checkout-table td:first-child {
  width: 100px;
  text-align: center;
}

.checkout-table td:last-child {
  width: auto !important;
}

#slider_container {
  height: 300px;
  margin-bottom: 15px;
}

.posts {
  padding: 5px;
}

.post-element {
  display: inline-block;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.post-title {
  margin-bottom: 0px;
}

.post-image {
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}

.post-createdAt {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 15px;
}

.thumbnail {
  display: inline-block;
  width: 50%;
  margin: 0 25% 0 25%;
}