<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Glocken Emil Shop</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
  <div class="container" ng-controller="NavController as nav">
    <div class="navbar-top">
      <div class="logo col col-xs-3">
        <li class="logo-item glyphicon glyphicon-bell" aria-hidden="true"></li>
      </div>
      <div class="nav col col-xs-6">
        <li class="nav-item"><a href="#!/home">Home</a></li>
        <li class="nav-item"><a href="#!/aboutus">About us</a></li>
        <li class="nav-item"><a href="#!/contact">Contact</a></li>
      </div>
      <div class="menu col col-xs-3" ng-controller="AuthController as auth">
        <div class="row">
          <li ng-if="auth.isAuthenticated()">{{ auth.getUser() }}</li>
          <li ng-click="nav.slideDown('.auth-form')" class="menu-item glyphicon glyphicon-user" aria-hidden="true"></li>
          <li ng-click="nav.slideDown('.cart-form')" class="menu-item glyphicon glyphicon-shopping-cart" aria-hidden="true"></li>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="sidebar-left col col-xs-3">
        <li class="sidebar-item"><a href="#!/products/category/1">Product Category 1</a></li>
        <li class="sidebar-item"><a href="#!/products/category/2">Product Category 2</a></li>
      </div>
      <div class="product-search col col-xs-6">
        <div ng-controller="ProductSearchController as productSearch">
          <form>
            <div class="form-group">
              <input class="form-control" placeholder="Search for any product">
            </div>
          </form>
        </div>
        <div ng-view></div>
      </div>
      <div class="sidebar-right col col-xs-3">
          <form class="auth-form" ng-controller="AuthController as auth" ng-submit="auth.login()">
            <div ng-if="auth.failed" class="alert alert-danger"><strong>Login failed!</strong> <p>Username or password is incorrect.</p></div>
            <div class="form-group">
              <input class="form-control" type="text" ng-model="auth.user.username" name="username" placeholder="Username" />
            </div>
            <div class="form-group">
              <input class="form-control" type="password" ng-model="auth.user.password" name="password" placeholder="Password" />
            </div>
            <div class="form-group">
              <button class="form-control" class="btn btn-primary">Login</button>
            </div>
          </form>
          <form class="cart-form" ng-controller="CartController as cart">
            <h1>Cart</h1>
          </form>
      </div>
    </div>
  </div>

  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>-->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
  <script src="app.js"></script>
  <script src="services/auth.js"></script>
  <script src="controllers/nav.js"></script>
  <script src="controllers/auth.js"></script>
  <script src="controllers/cart.js"></script>
  <script src="controllers/productSearch.js"></script>
  <script src="controllers/home.js"></script>
  <script src="controllers/aboutUs.js"></script>
  <script src="controllers/contact.js"></script>
</body>
</html>
