<div class="content-view" ng-controller="CreditCardController as creditCard">
  <form class="creditCard-form" ng-submit="creditCard.update()">
    <h1>Update your credit card</h1>
    <div ng-if="creditCard.data.creditCard.formSubmitFailed" class="alert alert-danger"><strong>Credit card failed!</strong></div>
    <div class="form-group">
      <input class="form-control" type="text" ng-model="creditCard.data.creditCard.number" name="number" placeholder="Number" required />
    </div>
    <div class="form-group">
      <input class="form-control" type="text" ng-model="creditCard.data.creditCard.type" name="type" placeholder="Type" required />
    </div>
    <div class="form-group">
      <button class="btn btn-outline-primary">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Update
      </button>
    </div>
  </form>
</div>
