<div class="content-view" ng-controller="DeliveryAddressController as deliveryAddress">
  <form class="creditCard-form" ng-submit="deliveryAddress.insert()">
    <h1>Insert your delivery address</h1>
    <div ng-if="deliveryAddress.data.deliveryAddress.formSubmitFailed" class="alert alert-danger"><strong>Credit card failed!</strong></div>
    <div class="form-group">
      <input class="form-control" type="text" ng-model="deliveryAddress.data.deliveryAddress.street" name="street" placeholder="Street" required />
    </div>
    <div class="form-group">
      <input class="form-control" type="text" ng-model="deliveryAddress.data.deliveryAddress.zip" name="zip" placeholder="Zip" required />
    </div>
    <div class="form-group">
      <input class="form-control" type="text" ng-model="deliveryAddress.data.deliveryAddress.city" name="city" placeholder="City" required />
    </div>
    <div class="form-group">
      <input class="form-control" type="text" ng-model="deliveryAddress.data.deliveryAddress.country" name="counttry" placeholder="Country" required />
    </div>
    <div class="form-group">
      <button class="form-control" class="btn btn-primary">
        <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save
      </button>
    </div>
  </form>
</div>
