<div class="content-view" ng-controller="HomeController as home">

  <div id="slider_container" style="position: relative; top: 0; width: 100%; height: auto;">
    <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 600px; height: 300px;">
      <div><img u="image" src="assets/slider-images/slider-image1.jpeg" /></div>
      <div><img u="image" src="assets/slider-images/slider-image2.jpeg" /></div>
    </div>
  </div>

  <h1>News</h1>
  <div class="news-container">
    <div class="news" ng-repeat="news in home.data.news">
      <div class="row">
        <div class="col col-xs-3">
          <img class="news-image" ng-src="{{ news.image }}" />
        </div>
        <div class="col col-xs-9">
          <h2 class="news-title">{{ news.title }}</h2>
          <span class="news-createdAt">{{ news.createdAt | date : 'dd.MM.yyyy HH:mm:ss' : '+0100' }}</span>
          <p>{{ news.text }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
