<div ng-controller="ShopController as shop">
  <div class="products" ng-repeat="product in shop.products">
    <div class="product wide">
      <div class="col col-xs-3"><img class="product-image" src="{{ product.image }}"></div>
      <div class="col col-xs-5">
        <p class="product-name">{{ product.name }}</p>
        <p class="product-category">{{ product.category }}</p>
        <p class="product-value">{{ product.size }} cm</p>
        <p class="product-price">{{ product.price }} CHF</p>
      </div>
      <div class="col col-xs-4">
        <div class="product-rating" ng-controller="AuthController as auth">
          <jk-rating-stars max-rating="5" rating="product.ratings" read-only="!auth.isAuthenticated()" on-rating="shop.rateProduct(product, rating)"></jk-rating-stars>
        </div>
        <div class="product-menu">

        </div>
      </div>
    </div>
  </div>
</div>
