<div class="sidebar-menu">
  <h3>Categories</h3>
  <ul class="categories" ng-repeat="category in shop.data.categories">
    <li class="sidebar-item" ng-class="shop.data.categoryId === category._id ? 'selected' : ''"><a ng-click="shop.getProductsByCategory(category._id)" ng-href="#!/shop">{{ category.name }}</a></li>
  </ul>
  <h3>Latest Searched</h3>
  <ul class="search-values" ng-repeat="searchValue in shop.data.searchValues">
    <li class="sidebar-item"><a ng-click="shop.getProductsBySeachValue(searchValue)">{{ searchValue }}</a></li>
  </ul>
</div>